#map {
    width: 90%;
    height: 86vh;
    float:right ;
}
header {
    display: flex;
    background-color: rgb(87, 165, 165);
    
}
header h1{
    padding-left: 160px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    float: left;
    list-style: none;
    background-color: rgb(141, 158, 158);
    height: 86vh;
    width: 10%;
    justify-content: space-between;
}
.sidebar ul{
    list-style: none;
    text-align:center ;
    margin-top: 20px;
    padding-left: 10px;
}
.sidebar ul li {
   margin-top: 80px;
}
/* for legend */
.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    line-height: 24px;
    color: #555;
  }
       .legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
    
       }
 
        .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
    
        }
  
         .legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
    
       }
